@import '~office-ui-fabric-react/dist/sass/References.scss';

.tiles {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }

  .message {
    @include ms-font-m;
  }

  .error {
    @include ms-font-m;
    color: $ms-color-alert;
  }

  .tilesList {
    @include ms-Grid-row;
    display: block;
    flex-wrap: wrap;
  }
}